@import '../../index.css';

.site-nav-bar {
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    top: 0;
    border-bottom: 1px dashed var(--text-color);
    z-index: 1;
}

.site-header-content {
    margin: 0 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title-text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-left: 8px;
    color: var(--text-color);
}

.saved-text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-left: 18px;
    color: gray;
}

.site-navbar-logo-image {
    height: 36px;
    width: 36px;
    display: inline-block;
    margin-bottom: 4px;
}

.site-navbar-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 39%;
    color: var(--text-color);
    white-space: nowrap;
}

.site-navbar-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.publish {
    color: white;
    background-color: rgb(27, 136, 23);
    padding: 7px 10px;
    border-radius: 99em;
    font-weight: 300;
    transition: background-color 300ms linear, color 300ms linear;
}

.test {
    width: 100%;
}