@import '../../index.css';

.comet-feed-block {
    width: 100%;
    border-bottom: solid 1px rgb(235, 235, 235);
}

.feed-block-author {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.comet-block-item {
    display: block;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
}

.comet-feed-block-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "feed-block-content-text feed-block-content-text feed-block-content-text feed-block-content-text feed-block-content-text feed-block-content-text feed-block-content-thumbnail";
}

.feed-block-content-text {
    grid-area: feed-block-content-text;
    max-width: 400px;
}

.author-picture {
    margin-right: 8px;
    height: 24px;
    width: 24px;
}

.author-fullname {
    color: rgb(0, 0, 0);
    margin-right: 8px;
}

.comet-feed-content {
    font-size: 14px;
    color: rgb(15, 15, 15);
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 16px;
    margin-bottom: 30px;
}

.comet-feed-block-button {
    display: block;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    overflow-wrap: break-word;
    min-width: 40px;
    text-align: center;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 99em;
    font-weight: 300;
    background-color: rgb(27, 136, 23);
    cursor: pointer;
}

.comet-deleting {
    background-color: rgb(14, 69, 12);
}