@import '../../index.css';

.site-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-block, .comet-block {
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0.5;
    margin-right: 25px;
}

.star-block:hover, .comet-block:hover {
    opacity: 1;
}

.clear-star {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.clear-comet {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.show-content {
    line-height: 1.8;
    letter-spacing: 0.9px;
    z-index: 0;
    margin-top: 77px;
    width: 700px;
    font-family: Georgia, "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: rgb(56, 56, 56);
}

.tale-show-author-picture {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: rgb(0, 9, 75);
    border-radius: 100%;
    font-size: 14px;
    line-height: 1;
}

.tale-show-author-block {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
    padding-left: 15px;
}

.tale-show-click-bar {
    margin-left: 15px;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 1.15;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 13px 0;
    font-size: 14px;
}

.input-div {
    font: inherit;
    min-height: 34.19px;
    margin-bottom: 28px;
    padding-left: 15px;
}

.publish-title-text#show {
    min-height: 50px;
    line-height: 1.15;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 12px;
    padding: 16px 0 0 15px;
    color: rgb(43, 43, 43);
}

.tale-show-constellation {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(37, 37, 37);
    background-color: rgb(250, 250, 250);
    padding: 6px 10px;
    border-radius: 99em;
    cursor: default;
    border: none;
    letter-spacing: 0.9px;
}

#tale-show-constellation:hover {
    outline: 2px solid rgb(27, 136, 23);
    cursor: pointer;
}

#tale-show-constellation-form:hover {
    cursor: pointer;
}

i { 
    font: inherit;
    font-style: italic;
}

b {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}