@import 'normalize.css';


/* Remove more default attributes*/
ul {
    list-style-type: none;
}

body, p, h1, h2, h3, h4, ul, button {
    margin: 0;
    padding: 0;
}

/* Global default attributes */
* {
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Global default variables */

:root {
    --bg-color: #fbbc0d;
    --text-color: rgba(38, 38, 38, 0.85);
}