@import 'normalize.css';


/* Remove more default attributes*/
ul {
    list-style-type: none;
}


body {
    margin: 0;
}

/* Global default attributes */
* {
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Global default variables */

:root {
    --bg-color: #FFC017;
    --text-color: rgba(41, 41, 41, 1);
}