@import '../../index.css';

.home-splash {
    position: absolute;
    height: 455px;
    width: 100%;
    background-color: var(--bg-color);
    margin-top: 76px;
    border-bottom: 1px solid var(--text-color);
}