@import '../../index.css';

.home-trending {
    position: absolute;
    height: 455px;
    width: 100%;
    background-color: white;
}

.home-trending {
        height: 1000px;
}

button {
    margin-bottom: 15px;
}