@import '../../index.css';

.home-trending {
    display: flex;
    height: 455px;
    width: 100%;
    background-color: white;
    margin-top: 40px;
}

.home-trending {
    height: 1000px;
    visibility: hidden;
    /* position: absolute; */
}

button {
    margin-bottom: 15px;
}

.home-trending-content {
    margin: 0 45px;
}

.trending-image {
    width: 20px;
    height: 20px;
    margin-right: 17px;
}

.home-trending-title-block {
    display: flex;
    align-items: center;
}

.home-trending-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.home-trending-blocks {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "trend-block trend-block trend-block";
}

.trend-block {
    grid-area: trend-block;
}